---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Nosotros">
    <main>
        <h1 class="text-center font-black uppercase text-7xl">Nosotros</h1>
        <section>
            <article>
                <h2>Nuestra historia</h2>
                <p>Servicios de Salud con Especialidades Médicas. Servicios de apoyo al diagnostico como Laboratorio, Electrocardiograma, Ecografias. Terapias de Lenguaje, Aprendizaje, Física. Evaluaciones en Psicología. Programa de Diabéticos e Hipertensos. Tratamiento de pie diabetico, Ulceras vericosas. Odontología. Podología. Farmacia. Tenemos 26 años de experiencia al servicio del pueblo.</p>
            </article>
            <article>
                <h3>¿Quienes somos?</h3>
                <p>Somos un Centro Medico Parroquial con la misión de satisfacer las necesidades de salud de nuestra población de Villa María del Triunfo y distritos aledaños, ofreciéndoles servicios de atención primaria y comunitaria con calidad y eficiencia</p>
            </article>
            <article>
                <h3>¿Que nos diferencia?</h3>
                <p>Queremos ser los referentes de salud de nuestra población, aportando calidad, confianza y seguridad en nuestros servicios de salud que reciben todos los ciudadanos que atendemos a lo largo de su vida.</p>
            </article>
            <article>
                <h3>Nestras raices</h3>
                <p>Cuando Jesús confía a los apóstoles la misión de llevar el Evangelio de la salud-salvación hasta los confines del mundo, les manda curar a los enfermos como un signo inequívoco de la presencia del Reino de Dios. Jesús reunió a los Doce y les dio autoridad para expulsar a todos los malos espíritus y poder para curar enfermedades. Después los envió a anunciar el Reino de Dios y a curar (Lc 9, 1-2).</p>
            </article>
        </section>
    </main>
</Layout>