---

---
<header class="bg-opacity-10 bg-white shadow-lg">
    <section class="flex justify-between items-center px-5 py-2">
        <a class="flex items-center justify-center" href="./">
            <img class="aspect-square rounded-full h-24" src="/public/img/icons/main-icon.webp" alt="xd">
            <span class="ml-4 uppercase font-black">Centro médico<br>La trinidad</span><!--  esto seria el h1? -->
        </a>
        <nav class="contents font-semibold text-lg">
            <ul class=" mx-auto items-center flex ">
                <li>
                    <a class="p-4 mx-4 hover:text-blue-950" href="./">Inicio</a>
                </li>
                <li>
                    <a class="p-4 m-4 hover:text-blue-950" href="./nosotros">Nosotros</a>
                </li>
                <li>
                    <a class="p-4 m-4 hover:text-blue-950" href="./servicios">Servicios</a>
                </li>
                <li>
                    <a class="p-4 m-4 hover:text-blue-950" href="./notas-de-prensa">Notas de prensa</a>
                </li>
            </ul>
        </nav>
        <button class="border border-white rounded-full font-bold py-3 px-5 hover:bg-slate-800">Contactanos</button>
    <section/>
<header/>