---

---
<header class=" bg-steel_blue-400 fixed top-0 w-full justify-center bg-opacity-90 backdrop-blur-sm">
    <div class="flex justify-between items-center py-2 w-svw px-4">
        <a class="flex items-center" href="./"> 
            <img class="icon mr-4 aspect-square rounded-full h-24" src="/public/img/icons/main-icon.webp" alt="xd">
            <span class=" titulo  text-ice_blue-900 uppercase font-black text-xl w-fit">Centro médico<br>La trinidad</span>
        </a>
        <nav class="navBody hidden md:flex items-center uppercase font-semibold">
            <a class="navItem mr-4 p-2 rounded-xl hover:bg-steel_blue-900 hover:bg-opacity-30 text-center" href="./">Inicio</a>
            <a class="navItem mr-4 p-2 rounded-xl hover:bg-steel_blue-900 hover:bg-opacity-30 text-center" href="./nosotros">Nosotros</a>
            <a class="navItem mr-4 p-2 rounded-xl hover:bg-steel_blue-900 hover:bg-opacity-30 text-center" href="./servicios">Servicios</a>
            <a class="navItem p-2 rounded-xl hover:bg-steel_blue-900 hover:bg-opacity-30 text-center" href="./notas-de-prensa">Notas</a>
        </nav>
        <button class="btn hover:animate-pop ml-4 hidden md:block border border-white rounded-full font-bold py-3 px-5 hover: bg-mint_green-100 text-steel_blue-900">Contactanos</button>
        <button class="hover:animate-pop md:hidden flex items-center border border-white rounded-full font-bold py-2 px-4 hover:bg-slate-800">
            <svg class="h-5 w-5 fill-current mr-2" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
            <span>Menú</span>
        </button>
    </div>
</header>
<style>
    @media only screen and (max-width: 1000px) {
        .icon{
            height: 4rem;
        }
        .titulo{
            font-size: 0.75rem;
            line-height: 1rem;
            width: 10rem;
        }
        .navItem{
            font-size:.9rem;
        }
        .btn{
            font-weight: 400;
            padding: 0.3rem 1rem 0.3rem 1rem;
        }
        .navBody{
            font-weight: 400;
        }
    }
</style>