---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Centro medico parroquial La Trinidad, policlinico integral tanto para adultos como niños. Servicios de Salud con Especialidades Médicas con 26 años de experiencia al servicio del pueblo. Servicios de apoyo al diagnostico como Laboratorio, Electrocardiograma, Ecografias. Terapias de Lenguaje, Aprendizaje, Física. Evaluaciones en Psicología. Programa de Diabéticos e Hipertensos. Tratamiento de pie diabetico, Ulceras vericosas. Odontología. Podología. Farmacia." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/public/img/icons/main-icon.webp" />
		<title>{title}</title>
	</head>
	<header>
		<Header/>
	</header>
	<body class=" mt-64" >
		<main class="mt-32 mx-5 mb-4">
			<slot />
		</main>
	</body>
		<Footer/>
</html>
<style is:global>
	html {
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		background: #233332;
		color-scheme: dark light;
	}
</style>
